ItemPickupFlash{
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(215, 186, 69);
    mix-blend-mode:normal;
    z-index:1;
}
DamageFlash{
    position:absolute;
    width:100%;
    height: 100%;
    background-color: rgba(255, 0, 0);
    mix-blend-mode:normal;
    z-index:1;
}

StatusText {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:100%;
    height:100%;
    padding-left: 4px;
    padding-top: 4px;

    .chat_canvas {
        display:flex;
        flex-direction:column-reverse;
    }
    TextEntry{
        height: 0;
        top:-300px;
        overflow: hidden;
    }

    StatusTextEntry {
        &.open {
            max-height:100%;
        }
        transition: max-height 0.25s ease-in-out;
        max-height:0px;
        overflow: hidden;

        DoomTextChat {
            display:flex;
            flex-direction: row;
            ChatTextLetter{
                background-size:contain;
                image-rendering:pixelated;
            }
        }
    }

    StatusEntry {

        DoomTextChat {
            display:flex;
            flex-direction: row;
            ChatTextLetter{
                background-size:contain;
                image-rendering:pixelated;
            }
        }
        opacity:1;
        transition: max-height 0.25s ease-in-out;
        max-height:100%;
        overflow:hidden;
        &:outro
        {
            opacity: 0;
            transition: all 2s ease-out;
        }
        &:intro {
            max-height:0;
        }
    }
}

UIBar {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    justify-content: space-around;
    background-color:#1b1b1b;
    z-index:2;
    StatusBar{
        background-size:contain;
        image-rendering:pixelated;
        DoomTextBig{
            BigTextLetter{
                background-size:contain;
                image-rendering:pixelated;
            }
        }
        DoomTextAmmo{
            AmmoTextLetter{
                background-size:contain;
                image-rendering:pixelated;
            }
        }
        .health{
            position:absolute;
            right:67.5%;
            top:9.365%;
        }
        .armor{
            position:absolute;
            right:26.5625%;
            top:9.365%;
        }
        .ammo {
            position:absolute;
            right:86.25%;
            top:9.365%;
        }

        .ammo {
            position:absolute;
            &.amount{
                right:10%;
            }
            &.max{
                right:1.875%;
            }
            &.Bullet{
                top:15.625%;
            }
            &.Shell{
                top:34.375%;
            }
            &.Rocket{
                top:53.125%;
            }
            &.Cell{
                top:71.875%;
            }
        }

        Face{
            position:absolute;
            top:6.25%;
            left:46.25%;
            background-size:contain;
            image-rendering:pixelated;
        }
        Arms{
            position:absolute;
            top:0;
            left:32.5%;
            background-size:contain;
            image-rendering:pixelated;

            ArmsIcon {
                position:absolute;
                background-size:contain;
                image-rendering:pixelated;
                top:12.5%;
                &.icon5, &.icon6, &.icon7{
                    top:43.75%;
                }

                &.icon2, &.icon5{
                    left:17.5%;
                }
                &.icon3, &.icon6{
                    left:47.5%;
                }
                &.icon4, &.icon7{
                    left:77.5%;
                }
            }
        }
    }
}